<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BackboneSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1E7B6D71C500B8600471D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E7B6EB1C500B8700471D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E7B6F61C500B8700471D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
